@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	position: relative;
}

.container2{
	min-width: 1200px;
}

.HomePage{
	background-image: url(../public/Images/HomeBg.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
}

.DestinationPage{
	background-image: url(../public/Images/DestinationBg.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
}

.CrewPage{
	background-image: url(../public/Images/CrewBg.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
}

.crewImg{
	width: 400px auto;
	height: 500px auto;
}

.TechnologyPage{
	background-image: url(../public/Images/TechnologyBg.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
}

.technologyImg{
	width: 390px auto;
	height: 390px auto;
}

.HomeSpan1{
	width: 250px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
}

.HomeSpan2{
	width: 250px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border-radius: 50%;
	z-index: 10;
	transition: all 0.5s linear;
	cursor: pointer;
}

.HomeSpan2:hover{
	transform: scale(1.4);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 10%);
	border-radius: 50%;
}